html {
    height: 100%;
}

body, table {
    font: 12px Arial;
}

h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

body {
    background: #EEEEEE;
}

.inactive {
    fill: #AAA;
}

.active {
    fill: orange;
}

.area.below {
    /*fill: rgb(145,207,96);*/
}

.area.above {
    fill: rgb(252, 141, 89);
}

.baseLine { /*alarm in HTML only*/
    stroke: black;
    stroke-width: 1.5;
    fill: none;
}


.focus circle {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}


.chartHover {
    fill: #FD0;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}



.master_slider::-webkit-slider-thumb {
    background: mediumvioletred !important;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: dodgerblue;
    cursor: pointer;
}




#unemploymentCharts {
    float: left;
    width: 65%;
    height: 98%;
    margin: 0px 0px 0px 1px;
    padding: 1px;
    border-style: solid;
    border-color: #AAA;
    overflow-y: scroll;
    background: white;
}

#options {
    float: left;
    width: 32%;
    height: 440px;
    padding: 5px;
}

h1 {
    margin-top: 0px

}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    width: fit-content;
}

/* Style the buttons inside the tab */
.tab button {
    /*background-color: white;*/
    float: left;
    /*border: None;*/
    outline: none;
    cursor: pointer;
    /*padding: 5px 8px;*/
    font-size: 12px;

    padding: 3px 0.5em;
    margin-left: 3px;
    border: 1px solid #778;
    border-bottom: none;
    background-color: #c9e4ee;
    text-decoration: none;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: lightskyblue;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: steelblue;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-top: none;
    height: 360px;
    width: 82%;
    background: white;
}


#stateOptions {
    height: 220px;
    width: 150px;
    float: left;
    border-style: solid;
    border-color: #CCC;
    overflow-y: scroll;
    margin: 0px 5px 5px 0px;
}

#comparisonOptions {
    float: left;
    height: 40%;
    width: 35%;
    margin: 0px 60px 0px 0px;
}

.printNumberOfGenes {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;

}

.wt_filter_btn {
    border: none;
    color: black !important;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    border-radius: 1px;
    width: 60px;
    cursor: pointer;
    background-color: #e7e7e7; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(145, 207, 96), rgb(252, 141, 89)); /* Standard syntax (must be last) */


}

.filter_btn:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 1px 1px 1px 1px;
}



.s1_filter_btn {
    border: none;
    color: black !important;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    border-radius: 1px;
    width: 60px;
    cursor: pointer;
    background-color: #e7e7e7; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(145, 207, 96), rgb(252, 141, 89)); /* Standard syntax (must be last) */
}

.pairwise_filter_btn {
    background-color: #e7e7e7;
    border: none;
    color: black !important;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    border-radius: 1px;
    width: 120px;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(145, 207, 96), rgb(252, 141, 89)); /* Standard syntax (must be last) */

}


.btn-group {
    width: 95%;
    float: left;
    font-size: 12px;
    margin-bottom: 15px;

}


table {
    margin: 5px 10px 10px 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: white;
}

thead td {
    font-weight: bold;
    border: 1px solid #999999;
    background-color: #cdcdcd;
    padding: 8px;
    font-size: 12px;
    position: sticky;
    top: -1;
}

tbody td {
    border: 1px solid #dddddd;
    padding: 3px;
    font-size: 11px;

}

tr:nth-child(even) {
    background-color: #ececec;
}

.scrollable {
    width: 30%;
    height: 265px;
    /*overflow: auto;*/
    overflow-y: auto;
    /*float: bottom;*/
}



